@model Warehouse.ViewModels.Admin.FaqCategoryIdSelectModel
@{
    var categoryList = new SelectList((List<Warehouse.ViewModels.Admin.CategoryListViewModel>)ViewData["Categories"], "Id", "Name").ToList();
    categoryList.Add(new SelectListItem()
    {
        Value = string.Empty,
        Text = "Kategori Seçiniz"
    });
}
<div class="form-group form-group-sm col-xs-12 col-sm-12 col-md-12 col-lg-12 @Html.ModelStateFor(m => m.CategoryId)">
    <div class="input-group input-group-sm">
        <span class="input-group-addon as-label required">
            <strong> @Html.DisplayNameFor(m => m.CategoryId)</strong>
        </span>

        @Html.DropDownListFor(a => a.CategoryId, categoryList.OrderBy(a => a.Value), new { @class = "form-control" })
    </div>
    @Html.ValidationMessageFor(m => m.CategoryId, "", new { @class = "text-danger" })
</div>