@model Warehouse.ViewModels.Admin.UserSearchViewModel
@{
    ViewBag.Title = "Kullanıcılar";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<title>Kullanıcılar</title>
<div class="row">
    <div class="col-xs-12">
        <div class="box box-solid">
            <div class="box-header">
                <i class="fa fa-book"></i>
                <h3 class="box-title">Sisteme kayıtlı kullanıcılar</h3>
            </div>
            <div class="box-body">
                @using (Html.BeginForm("UserList", "UserSetting", new { Area = "Admin" }, FormMethod.Post, new { role = "form", id = "userSearchForm", data_ajax_form = "true", data_target_container = "#UserListContainer" }))
                {
                    <div class="row">
                        <div class="form-group form-group-sm col-xs-12 col-sm-6 col-md-4 col-lg-4 @Html.ModelStateFor(m => m.Name)">
                            @Html.TextBoxBlockLabelAsAddonFor(m => m.Name)
                        </div>

                        
                        <div class="clearfix"></div>
                        <div class="form-group form-group-sm col-xs-12 col-sm-4 col-sm-push-3 col-md-4 col-md-push-3">
                            <div class="input-group">
                                <button type='submit' class="btn btn-sm btn-default btn-block"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>

                }
                <div>
                    <div id="UserListContainer"></div>
                </div>
            </div>
        </div>
    </div>
</div>
