@using WarehouseManagementSystem.Extensions
@model Warehouse.ViewModels.Admin.OrderCargoServiceTypeIdSelectViewModel
@{
    var categoryList = new SelectList((List<Warehouse.ViewModels.Admin.CargoServiceTypeListViewModel>)ViewData["CargoServiceTypes"], "Id", "Name").ToList();
    categoryList.Add(new SelectListItem()
    {
        Value = string.Empty,
        Text = "Kargo Servis Tipi Seçiniz"
    });
}
<div class="form-group form-group-sm col-xs-12 col-sm-12 col-md-12 col-lg-12  ">
    <div class="input-group input-group-sm">
        <span class="input-group-addon as-label required">
            <strong> @Html.DisplayNameFor(m => m.CargoServiceId)</strong>
        </span>

        @Html.DropDownListFor(a => a.CargoServiceId, categoryList.OrderBy(a => a.Value), new { @class = "form-control" })
    </div>
    @Html.ValidationMessageFor(m => m.CargoServiceId, "", new { @class = "text-danger" })
</div>