@model String

<div class="row">
    <div class="col-xs-12">
        <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
            <h4><i class="fa-solid fa-bell"></i>  Dikkat!</h4>
            @Model
        </div>
    </div>
</div>
<hr />
<div class="form-group form-group-sm row">
    <div class="col-xs-12">
        <button class="btn btn-danger pull-right" type="button" data-dismiss="modal"><span class="fas fa-times"></span>&nbsp;&nbsp;İptal</button>
    </div>
</div>
<div class="clearfix"></div>
@Html.Raw(ViewBag.clientside_js)