@model String
 
<div class="row">
    <div class="col-xs-12">
        @Model
    </div>
</div>
<hr />
<div class="form-group form-group-sm row">
    <div class="col-xs-12">
        <button class="btn btn-danger pull-right" type="button" data-dismiss="modal"><span class="fas fa-times"></span>&nbsp;&nbsp;İptal</button>
    </div>
</div>
<div class="clearfix"></div>