@{
    ViewBag.Title = "Home Page";
}

<h6>Warehouse Management System Home Page</h6>


<div class="clearfix"></div>
<br />
<div class="clearfix"></div>

<h6>Depo Yönetim Sistemi Ana Sayfası</h6>

<div class="clearfix"></div>
<hr />
<div class="clearfix"></div>



