
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- /.stores -->

<div class="ip-banner contact-us-banner">
    <div class="content d-flex align-items-center justify-content-center text-center">
        <div class="container">
            <div class="breadcrumb-holder d-inline-flex">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="@Url.Action("Index","Home")">
                               Anasayfa
                                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">İletişim</li>
                    </ol>
                </nav>
            </div>
            <!-- End of .breadcrumb-holder -->

            <h1>İletişim</h1>

        </div>
        <!-- End of .container -->
    </div>
    <!-- End of .content -->
</div>



<section class="section contact-us">
    <div class="container">


        <div class="contact-info">
            <div class="row">
                <div class="col-md-4">
                    <div class="content text-center">
                        <div class="icon-container">
                            <i class="grad-icon icon-Phone"></i>
                        </div>
                        <!-- End of .img-container -->
                        <h3>
                            <a href="tel:0(534) 273 76 43">0(534) 273 76 43</a>
                        </h3>

                    </div>
                    <!-- End of .content -->
                </div>
                <!-- End of .col-md-4 -->

                <div class="col-md-4">
                    <div class="content text-center">
                        <div class="icon-container">
                            <i class="grad-icon icon-Mail"></i>
                        </div>
                        <!-- End of .img-container -->
                        <h3>
                            <a href="mailto: topbas_melih_70@hotmail.com">topbas_melih_70@hotmail.com</a>
                        </h3>

                    </div>
                    <!-- End of .content -->
                </div>
                <!-- End of .col-md-4 -->

                <div class="col-md-4">
                    <div class="content text-center">
                        <div class="icon-container">
                            <i class="grad-icon icon-Pin---1"></i>
                        </div>
                        <!-- End of .img-container -->

                        <p>
                            <a href="adress: Yıldırım Beyazıt Mah Aşık Vesysel Bulvarı Teknopark Tekno 4 Binası D:Kat 1 No 47, 38030 Melikgazi/Kayseri"> Yıldırım Beyazıt Mah Aşık Vesysel Bulvarı Teknopark Tekno 4 Binası D:Kat 1 No 47, 38030 <strong>Melikgazi/Kayseri</strong> </a>
                        </p>
                    </div>
                    <!-- End of .content -->
                </div>
                <!-- End of .col-md-4 -->
            </div>
            <!-- End of .row -->
        </div>
        <!-- End of .contact-info -->
    </div>
    <!-- End of .container -->
</section>
<!-- End of .contact-us -->




<section class="section contact-page-form grey-bg">
    <div class="container">
        <div class="section-heading text-center">
            <h2>İletişim Formu</h2>
        </div>
        <!-- End of .section-heading -->

        <div class="form-content">
            <div class="form-container">
                <form method="post" action="@Url.Action("Index", "Contact")" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <input name="FullName" type="text" class="form-control" placeholder="Ad">
                                </div>
                                <!-- End of .form-group -->

                                <div class="form-group col-md-6">
                                    <input name="Email" type="email" class="form-control" placeholder="E-Mail">
                                </div>
                                <!-- End of .form-group -->

                                <div class="form-group col-md-6">
                                    <input name="Phone" type="text" class="form-control" placeholder="Telefon">
                                </div>
                                <!-- End of .form-group -->

                                <div class="form-group col-md-6">
                                    <input name="Subject" type="text" class="form-control" placeholder="Konu">
                                </div>
                                <!-- End of .form-group -->


                                <div class="form-group col-md-12">
                                    <textarea name="Message" class="form-control" id="ff-textarea" rows="3" placeholder="Mesaj"></textarea>
                                </div>
                                <!-- End of .form-group -->

                                <footer class="form-footer">
                                    <button type="submit" class="primary-btn">Kaydet</button>
                                    <div class="submit-loader">
                                        <img class="submit-loading-img" src="images/submit-loader.gif" alt="submit loader">
                                    </div>
                                    <!-- End of submit-loader -->
                                </footer>

                            </div>
                            <!-- End of .row -->
                        </div>
                        <!-- End of .col-md-10 -->
                    </div>
                    <!-- End of .row -->
                </form>
                <!-- End of form -->
            </div>
            <!-- End of .form-container -->
        </div>
        <!-- End of .form-content -->
    </div>
    <!-- End of .container -->
</section>
<!-- End of .contact-page-form -->
