
@model IQueryable<Warehouse.ViewModels.Admin.CustomerOrderPackageListViewModel>
<section class="section featured-works" data-target="CustomerPackageListContainer">
    <div class="container">
        <div class="section-heading text-center">
            <h2>Koliler</h2>
        </div>
        <!-- End of .section-heading -->


        <div class="featured-work-content">
            <div class="master-row">
                @Html.DisplayFor(m => m)
                 
            </div>
            <!-- End of .row -->

        </div>
        <!-- End of .featured-work-content -->
    </div>
    <!-- End of .container -->
</section>
<!-- End of .service-cat-checklist-->
